<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- FAVICON -->
    <link rel="shortcut icon" href="/img/weather.png" type="image/x-icon">
    <!-- CUSTOM CSS -->
    <link rel="stylesheet" href="/css/styles.css" />
    <title>About</title>
</head>

<body>

    <div class="main-content">
        {{>header}}
        <img class="portrait" src="/img/office.JPG" alt="home office" />
    </div>


    {{>footer}}
</body>

</html>