<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- CUSTOM CSS -->
    <link rel="stylesheet" href="/css/styles.css" />
    <title>Web Server</title>
</head>

<body>
    {{>header}}
    <img src="./images/office.JPG" alt="home office" />


    {{>footer}}
</body>

</html>