body {
  background-image: url(/img/miamibeachview.jpg);
  background-size: cover;
  color: #fff;
  text-transform: uppercase;
  max-width: 650px;
  margin: 0 auto;
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  margin: 5% 0 10%;
}

input {
  text-align: center;
}

.main-content {
  background-color: rgba(0, 0, 0, 0.5);
  min-height: 90vh;
  margin-top: 50px;
  display: flex;
  justify-content: end;
  align-items: center;
  flex-direction: column;
}

.header-links {
  text-align: center;
}

.main-content p {
  width: 90%;
}

h1 {
  font-size: 4rem;
  margin-bottom: 16px;
}

h2 {
  font-size: 2rem;
}

.weather-data {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
}

.weather-data h3 {
  font-size: 2rem;
  margin: 5px 0;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
}

.weather-data p {
  border-bottom: 1px solid #fff;
  text-align: center;
  background: #fff;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
  color: #000;
  height: 2.5rem;
  width: 100%;
  font-size: 1.5rem;
  text-transform: uppercase;
  justify-content: center;
}

header a {
  color: #fff;
  margin-right: 16px;
  text-decoration: none;
}

footer {
  height: 50px;
  margin-top: 50px;
  padding-top: 2.5%;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: baseline;
  border-top: 1px solid #eee;
}

button,
button:focus {
  color: #fff;
}

button:hover {
  background-color: #fff;
  color: #000;
}
